.principalColor {
    background-color: #008e8e;
}

a.material-icons {
    color: black;
}

#parrafo1 {
    text-align: center;
    color: #008e8e;
}

#subtitulo1 {
    color: crimson;
    text-align: left;
    font-style: italic;
}

.p1 {
    color: black;
    text-align: left;
    font-size: 20px;
}

.slider .indicators .indicator-item.active {
    background-color: red;
}
