@{
    ViewBag.Title = "Gestión Empresarial";
}
<h2 class="center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div>
        <div class="center"><img src="~/Images/logoMVC.png" class="responsive-img" style="width:60%" /></div>

        <h4 id="parrafo1">
            La aplicación MVC Envíos, controlará el movimiento de todos los envíos cursados por medio de esta empresa;
            le permitirá verificar el estado de sus envíos mediante una trazabilidad completa y segura.
        </h4>
        <h5 id="subtitulo1">Misión:</h5>
        <p class="p1">
            Ofrecer servicios logísticos, Mejores, Veloces y Confiables, de acuerdo con las necesidades de los clientes,
            generando valor para los empleados, la comunidad y dueños, a su vez estamos comprometidos con el medio ambiente.
        </p>
        <h5 id="subtitulo1">Visión:</h5>
        <p class="p1">Para el año 2024, ser el mejor proveedor en prestar servicios logísticos, con mejor tecnología, soportado en la transformación digital.</p>
        <h5 id="subtitulo1">Objetivos:</h5>
        <div>
            <ul class="p1">
                <li>• Incrementar la eficiencia, eficacia, efectividad en la entrega.</li>
                <li>• Incrementar el nivel de satisfacción de los clientes.</li>
                <li>• Entregar a nuestros clientes productos y servicios conformes con los requisitos establecidos.</li>
                <li>• Promover el uso eficiente y la reducción del consumo de los recursos naturales (agua, papel y energía), utilizados por la empresa en sus actividades.</li>
                <li>• Disminuir las peticiones, Quejas y Reclamaciones.</li>
                <li>• Incrementar el nivel de competencias y de compromiso del personal.</li>
            </ul>
        </div>
        <h5 id="subtitulo1">Valores:</h5>
        <ul class="p1">
            <li>• <strong>PROACTIVIDAD:</strong> Nos anticipamos y enfrentamos a los cambios.</li>
            <li>• <strong>INNOVACIÓN:</strong> Para responder a los retos.</li>
            <li>• <strong>VISIBILIDAD:</strong> Tenemos presencia en todo el territorio nacional.</li>
            <li>• <strong>TRANSPARENCIA:</strong> En nuestro actuar.</li>
            <li>• <strong>PASIÓN:</strong> Por hacer nuestro trabajo cada vez mejor.</li>
        </ul>
    </div>
</div>
