@{
    ViewBag.Title = "Gestión Empresarial";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="input-field col s12">
        <h4 id="parrafo1">
            La aplicación de MVC Envíos, controlara el movimiento de todos los envíos cursados por medio de esta empresa;
            le permitirá verificar el estado de sus envíos mediante una Trazabilidad completa y segura.
        </h4><br />

        <h5 id="subtitulo1">Misión:</h5><br />
        <p class="p1">
            Ofrecer servicios logísticos, Mejores, Veloces y Confiables, de acuerdo con las necesidades de los clientes,
            generando valor para los empleados, la comunidad y Dueños, a su vez estamos comprometidos con el medio ambiente.
        </p><br />


        <h5 id="subtitulo1">Visión:</h5><br />
        <p class="p1">Para el año 2024, ser el mejor proveedor en prestar servicios logísticos, con mejor tecnología, soportado en la transformación digital.</p>
        <br />

        <h5 id="subtitulo1">Objetivos:</h5><br />
        <p class="p1">
            Incrementar la eficiencia, eficacia, efectividad en la entrega.<br />
            Incrementar el nivel de satisfacción de los clientes.<br />
            Entregar a nuestros clientes productos y servicios conformes con los requisitos establecidos.<br />
            Promover el uso eficiente y la reducción del consumo de los recursos naturales (agua, papel y energía), utilizados por la empresa en sus actividades.<br />
            Disminuir las peticiones, Quejas y Reclamaciones.<br />
            Incrementar el nivel de competencias y de compromiso del personal.
        </p>
        <br />

        <h5 id="subtitulo1">Valores:</h5><br />

        <p class="p1">
            PROACTIVIDAD: Nos anticipamos y enfrentamos a los cambios.<br />
            INNOVACIÓN: Para responder a los retos.<br />
            VISIBILIDAD: Tenemos presencia en todo el territorio nacional.<br />
            TRANSPARENCIA: En nuestro actuar.<br />
            PASIÓN: Por hacer nuestro trabajo cada vez mejor.
        </p><br />

    </div>
</div>