@{
    ViewBag.Title = "Home Page";
}

<div class="row center">
    <h3>BIENVENIDO</h3>
    <img src="~/Images/logoMVC.png" class="responsive-img" />
</div>

<div class="row center">
    <div class="col-md-offset-2 input-field col s12"> 
        <h5 class="red-text">¿Quieres saber dónde está tu paquete?</h5><br />
        <a href=@Url.Action("Index","Trazabilidad")><i class="medium material-icons">local_shipping</i></a>        
    </div>
</div>
