@{
    ViewBag.Title = "Seguimiento";
}

@using (Html.BeginForm("Guia", "Trazabilidad"))
{
    <div class="row">
        <h3>Ingresa los datos del paquete</h3>
        <div class="input-field col s6">
            <input id="guia" type="text" class="validate" name="guia">
            <label for="guia">Guía</label>
        </div>
        <div>
            <button class="btn" type="submit">BUSCAR</button>
        </div>
    </div>
}

@using (Html.BeginForm("Cedula", "Guias"))
{
    <div class="row">
        <div class="input-field col s6">
            <input id="cedula" type="text" class="validate" name="cedula">
            <label for="cedula">Cédula</label>
        </div>
        <div>
            <button class="btn" type="submit">BUSCAR</button>
        </div>
    </div>
}
