@{
    ViewBag.Title = "Seguimiento";
}

<div class="row center">
    <h3 class="center">Ingresa los datos del paquete</h3>
    <div class="input-field col s6">
        <input id="guia" type="text" class="validate" name="guia">
        <label for="guia">Guía</label>
    </div>
</div>
<div class="row center">
    <div class="input-field col s6">
        <input id="cedula" type="password" class="validate" name="cedula">
        <label for="cedula">Cédula</label>
    </div>
</div>
<div class="row center">
    <div>
        <input id="btnModal" class="btn" type="submit" name="name" value="Buscar" onclick="loginUser()" />
    </div>
</div>
